.textStyle {
    text-align: left;
    color:white;
    font-size: 1.5rem;
}

@media screen and (max-width: 400px) {
    .textStyle {
        font-size:1rem;
    }
}

input, textarea {
    width: 85%;
    background-color: rgb(10, 36, 78);/*lighter color*/
    color:white;
    border-radius: 4px;
}

input {
    border-top: hidden;
    border-right: none;
    border-left: none;
    border-bottom:3px solid white;
    background-color: "pink"; 
    
}

.containerStyle {
    margin-top: 20px;
}

.textAreaStyle {    
    text-align: center;
}