.labelStyle {
    text-align: left;
}

input, textarea {
    width: 80%;
    background-color: #081E42;
    color:white;
}

input {
    border-top: hidden;
    border-right: none;
    border-left: none;
    border-bottom:7px solid white;
    background-color: "pink"; 
    
}

.containerStyle {
    margin-top: 20px;
}

.textAreaStyle {    
    text-align: center;
}