.landingPageImage {
    background-image: url(../assets/images/lighting-gif.gif);
    /*background-image: url(../assets/images/bolt-3d-1a-grey.png);*/
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;/*image is size of the device screen size*/
    background-color:"black" ;
    background-attachment: fixed;
    background-size: cover;/*image cover the entire screen*/
}

.loginButton {
    height: 5rem;
    width: 5rem;
    border-radius: 15px;
    border:1px solid grey;
}

.buttonStyle {
    border: 1px solid grey;
    padding: 0px;
    border-radius: 15px;
}

.centerText {
    align-items: center;
    justify-content: center;
}

.title {
    font-weight: bolder;
    font-size: 5rem;
    font-family: 'Times New Roman', Times, serif;
}

.subTitle {
    font-size: 1.5rem;
    text-align: center;
}

.footerText {
    display:flex;
    justify-content: center;
    align-items: flex-end;
}